* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
} 


body { 
    background-color: #181622;
    color: white;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */

}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    top: fixed;
    padding: 10px; 
}

.navbar-brand {
    margin-right: auto;
    color: white; 
    text-decoration: none;
    padding: 10px; 
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #415A77;
    color: white; /* Ensure text is still readable */
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% of viewport height */
    overflow: hidden;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Covers the section without stretching */
    z-index: -1; /* Optional: put video behind content */
}


#services-section {
    text-align: center;
    background-color: #0D1B2A;
}

.box { 
    display: flex; 
    border: solid; 
    flex-direction: column;
    border-radius: 10px; 
    padding: 15px 20px; 
    flex: 1; 
    background-color:#1B2D60; 
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    border: none; 
    color: white; 
}

.row { 
    display: flex; 
    flex-direction: row;
    margin: 10px; 
}


#about-section {
    display: flex; 
    flex-direction: column;  
}

.about-row {
    display: flex; 
    gap: 20px; 
}

.container {
    gap: 20px; 
}