* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
} 

header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */

}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    top: fixed;
    padding: 10px; 
}

.navbar-brand {
    margin-right: auto;
    color: white; 
    text-decoration: none;
    padding: 10px; 
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #415A77;
    color: white; /* Ensure text is still readable */
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% of viewport height */
    overflow: hidden;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Covers the section without stretching */
    z-index: -1; /* Optional: put video behind content */
}


#services-section {
    text-align: center;
  background-color: #E0E1DD;
   padding: 60px 20px; /* Add space around content */
}

.box { 
    display: flex; 
    border: solid; 
    flex-direction: column;
    border-radius: 10px; 
    padding: 15px 20px; 
    flex: 1 1 300px; /* Allow the box to shrink/grow, min-width 300px */
    background-color:#1B263B; 
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    border: none; 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     color: #E0E1DD;
}

.row { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px; 
     justify-content: center;
}